.image {
	height: 100%;
	width: 100%;
	position: relative;
	background-color: #ffffff;

	img {
		height: 100%;
		width: 100%;
		transition: all 0.3s ease;
		object-fit: cover;
		object-position: top center;
	}
}

.loader {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
