@import '../../styles/variables';

.switch_dark {
	padding: 5px;
	display: flex;
	align-items: center;
	gap: 5px;
	border-radius: 5px;
	font-weight: 500;
	background-color: $light;
	color: $dark;
	fill: $dark;
	transition: all 0.2s ease;
}

.switch_light {
	@extend .switch_dark;
	background-color: $dark;
	color: $light;
	fill: $light;
}
