@import '../../../styles/variables';

.tabs_dark {
	margin-top: 20px;
}

.tabs_light {
	@extend .tabs_dark;
}

.radio {
	display: flex;
	justify-content: space-between;
	gap: 10px;

	&Item {
		flex-grow: 1;

		input[type='radio'] {
			display: none;
		}
		input[type='radio'] + label {
			padding: 10px;
			display: block;
			border-radius: 5px;
			background-color: rgba(0, 0, 0, 0.15);
			text-align: center;
			cursor: pointer;
		}
		input[type='radio']:checked + label {
			font-weight: 700;
			outline: 2px solid $light;
			background-color: transparent;
		}
	}
}
