@import '../../../styles/variables';

.link_dark {
	position: relative;
	background-color: $dark;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	font-size: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
	transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	cursor: pointer;

	svg {
		fill: inherit;
		width: 20px;
		height: 20px;
	}

	&:hover {
		.tooltip {
			top: -45px;
			opacity: 1;
			visibility: visible;
		}
	}

	.tooltip {
		padding: 5px 8px;
		position: absolute;
		top: 0;
		font-size: 14px;
		color: #fff;
		border-radius: 5px;
		box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
		transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
		pointer-events: none;
		opacity: 0;

		&::before {
			position: absolute;
			content: '';
			height: 8px;
			width: 8px;
			background: #fff;
			bottom: -3px;
			left: 50%;
			transform: translate(-50%) rotate(45deg);
			transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
			background-color: inherit;
		}
	}
}

.link_light {
	@extend .link_dark;
	background-color: #fff;
}
