@import '../../../styles/variables';

.hide {
	display: flex;
	align-items: center;
	justify-content: center;
	background: transparent;
	transition: transform 0.3s ease 0.2s, opacity 0.3s ease 0.2s;

	svg {
		width: 28px;
		height: 28px;
	}
}

.opened {
	opacity: 1;
	transform: scale(1) rotate(0deg);
}

.hidden {
	opacity: 0;
	transform: scale(-1) rotate(360deg);
}
