@import '../../styles/variables';
@import '../../styles/animations';

.container_dark {
	@include AnimationSettings(ZoomIn, 0ms, 400ms);
	margin-bottom: 50px;
	padding: 20px;
	border-radius: 10px;
	background-color: $dark;
	color: $light;
	fill: $light;
	-webkit-box-shadow: 0px 4px 8px 0px rgba(60, 60, 60, 0.2);
	-moz-box-shadow: 0px 4px 8px 0px rgba(60, 60, 60, 0.2);
	box-shadow: 0px 4px 8px 0px rgba(60, 60, 60, 0.2);
	overflow: hidden;

	a {
		color: $light;
		fill: $light;
		text-decoration: none;
	}

	@media (max-width: $breakpoint600) {
		border-radius: 0;
		width: 100vw;
		margin-left: -$container_padding;
		margin-right: -$container_padding;
		margin-bottom: 0;
	}
}

.container_light {
	@extend .container_dark;
	background-color: $white;
	color: $dark;
	fill: $dark;
	border-color: $dark;

	a {
		color: $dark;
		fill: $dark;
	}
}
