@import '../../styles/variables';

.switch_dark {
	display: flex;
	align-items: center;
	gap: 5px;

	svg {
		fill: $light;
		width: 30px;
		height: 30px;
	}

	button {
		border-radius: 5px;
		font-weight: 500;
		background: transparent;
		color: $light;
	}
}

.switch_light {
	@extend .switch_dark;

	svg {
		fill: $dark;
	}

	button {
		color: $dark;
	}
}
