@import '../../styles/variables';

.switch_dark {
	position: relative;
	display: flex;
	align-items: center;
	gap: 5px;

	svg {
		fill: $light;
		width: 30px;
		height: 30px;
	}

	button {
		border-radius: 5px;
		font-weight: 500;
		background: transparent;
		color: $light;
	}
}

.switch_light {
	@extend .switch_dark;

	svg {
		fill: $dark;
	}

	button {
		color: $dark;
	}
}

.underline_dark {
	position: absolute;
	height: 3px;
	width: 33px;
	background-color: $light;
	bottom: 0;
	left: 37px;
	transition: left 0.2s ease;
}
.underline_light {
	@extend .underline_dark;
	background-color: $dark;
}
