@mixin AnimationSettings($name, $delay, $duration) {
	animation-name: $name;
	animation-delay: $delay;
	animation-duration: $duration;
	animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	animation-fill-mode: backwards;
}

@keyframes ZoomIn {
	from {
		opacity: 0;
		transform: scale(0.9);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes ZoomOut {
	from {
		opacity: 0;
		transform: scale(1.1);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes BigZoomIn {
	from {
		opacity: 0;
		transform: scale(0.3);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes BigZoomOut {
	from {
		opacity: 0;
		transform: scale(1.8);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes SlideIn {
	from {
		opacity: 0;
		transform: translateX(-70px);
	}
	to {
		opacity: 1;
		transform: translateY(0px);
	}
}

@keyframes SpinIn {
	from {
		opacity: 0;
		transform: scale(0) rotate(360deg);
	}
	to {
		opacity: 1;
		transform: scale(1) rotate(0deg);
	}
}
