// colors
$dark: #34374c;
$black: #2c2e3e;
$red: #ee2b47;
$light: #f6f6f6;
$white: #ffffff;

// container
$container_width: 1200px;
$container_padding: 15px;

// breakpoints
$breakpoint1200: 1200px;
$breakpoint900: 992px;
$breakpoint700: 768px;
$breakpoint600: 600px;
$breakpoint400: 480px;
$breakpoint300: 320px;
