@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
@import './variables';
@import './browser.scss';

input,
textarea,
button,
a {
	-webkit-tap-highlight-color: transparent;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
	font-family: 'Montserrat';
	font-size: 16px;
	transition: background 0.3s ease;
}

body {
	overflow-x: hidden;
}

b {
	font-weight: 700;
	font-size: 19px;
	@media (max-width: $breakpoint600) {
		font-size: 16px;
	}
}

button {
	cursor: pointer;
}

.container {
	margin: 0 auto;
	max-width: $container_width;
	padding-left: $container_padding;
	padding-right: $container_padding;
}
