@import './variables';
@import './browser.scss';

input,
textarea,
button,
a {
	-webkit-tap-highlight-color: transparent;
}

a,
button {
	cursor: pointer;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	list-style: none;
}

body {
	overflow-x: hidden !important;
}

.container {
	margin: 0 auto;
	max-width: $container_width;
	padding-left: $container_padding;
	padding-right: $container_padding;
}
