@import '../../styles/variables';

.back_dark {
	padding: 5px;
	position: relative;
	z-index: 100;

	a {
		display: inline-flex;
		align-items: center;
		gap: 5px;

		font-weight: 500;
		color: $light;
		text-decoration: none;

		svg {
			fill: $light;
			width: 16px;
			height: 16px;
		}
	}
}

.back_light {
	@extend .back_dark;

	a {
		color: $dark;

		svg {
			fill: $dark;
		}
	}
}
