@import '../../styles/variables';
@import '../../styles/animations';

.resume {
	max-width: 1000px;
	&__content {
		display: flex;
		gap: 10px;

		@media (max-width: $breakpoint700) {
			flex-direction: column;
		}

		&Articles {
			article {
				margin-bottom: 10px;
				text-align: justify;

				@media (max-width: $breakpoint600) {
					font-size: 14px;
					text-align: left;
				}
			}
		}
	}
}
