@import '../../styles/variables';

.resume_dark {
	padding: 20px;
	max-width: 900px;
	border-radius: 10px;
	background-color: $dark;
	color: $light;
	fill: $light;
	border-color: $light;

	-webkit-box-shadow: 0px 4px 8px 0px rgba(60, 60, 60, 0.2);
	-moz-box-shadow: 0px 4px 8px 0px rgba(60, 60, 60, 0.2);
	box-shadow: 0px 4px 8px 0px rgba(60, 60, 60, 0.2);

	@media (max-width: 600px) {
		border-radius: 0;
		width: calc(100% + $container_padding * 2);
		margin-left: -$container_padding;
		margin-right: -$container_padding;
	}
}

.resume_light {
	@extend .resume_dark;

	background-color: $white;
	color: $dark;
	fill: $dark;
	border-color: $dark;
}

.menu {
	display: flex;
	justify-content: space-between;

	h1 {
		display: flex;
		align-items: center;
		gap: 5px;
		font-size: 20px;
		text-transform: uppercase;

		svg {
			width: 20px;
			height: 20px;
		}
	}
}

$margin: 10px;

.info {
	margin-top: 20px;
	margin-left: -20px;
	margin-right: -20px;
	padding: 0 20px;
	border-bottom-width: 5px;
	border-bottom-style: solid;

	&Name {
		margin-left: 240px;
		margin-bottom: 5px;
		font-size: 42px;
		line-height: 1;
		letter-spacing: 3px;

		@media (max-width: 800px) {
			margin-left: $margin;
		}

		@media (max-width: 600px) {
			font-size: 28px;
		}
	}

	&Job {
		margin-left: 240px;
		margin-bottom: $margin;
		font-size: 24px;
		line-height: 1;
		letter-spacing: 3px;
		font-weight: 200;

		@media (max-width: 800px) {
			margin-left: $margin;
		}

		@media (max-width: 600px) {
			font-size: 18px;
		}
	}
}

.avatar {
	margin-bottom: $margin;
	width: 200px;
	height: 200px;
	border-radius: 10px;
	border-width: 3px;
	border-style: solid;
	overflow: hidden;

	@media (max-width: 500px) {
		width: 120px;
		height: 120px;
		margin-bottom: 0;
		border-radius: 10px 10px 0 0;
	}
}

.content {
	padding-left: 30px;
	display: flex;

	@media (max-width: 800px) {
		display: block;
		padding-left: 10px;
	}

	&Image {
		margin-right: $margin;
		position: relative;
		top: -95px;

		@media (max-width: 800px) {
			position: static;
			float: left;
		}
	}

	&Text {
		margin-top: 10px;

		p {
			word-wrap: break-word;
			margin-bottom: 10px;
			text-align: justify;

			@media (max-width: 500px) {
				font-size: 14px;
			}
			@media (max-width: 800px) {
				text-align: left;
			}
		}
	}
}
