$gap: 20px;

.list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: $gap;
	row-gap: 40px;

	& > div {
		flex-basis: calc(50% - $gap / 2);
		@media (max-width: 720px) {
			flex-basis: 100%;
		}
	}
}
