@import '../../../styles/variables';

.skills_dark {
	float: left;
	padding: 10px;
	width: 200px;
	margin-top: 70px;
	margin-right: 10px;
	border-radius: 10px;
	font-weight: 600;
	background-color: $light;
	color: $dark;
	list-style: none;

	li {
		margin-bottom: 5px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}
.skills_light {
	@extend .skills_dark;

	background-color: $dark;
	color: $light;
}
