@import '../../../styles/variables';
@import '../../../styles/animations';

.skills_dark {
	display: flex;
	flex-direction: column;
	gap: 10px;
	flex-wrap: wrap;

	@media (max-width: $breakpoint700) {
		flex-direction: row;
		justify-content: center;
		gap: 30px;
		row-gap: 10px;
	}

	li {
		@include AnimationSettings(BigZoomIn, 0ms, 700ms);
	}
}

.skills_light {
	@extend .skills_dark;
}
