@import '../../../styles/variables';

.skills_dark {
	padding: 10px;
	width: 200px;
	border-radius: 10px;
	font-weight: 600;
	background-color: $light;
	color: $dark;
	list-style: none;

	@media (max-width: 500px) {
		width: 120px;
		font-size: 14px;
		border-radius: 0 0 10px 10px;
	}

	li {
		margin-bottom: 5px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}
.skills_light {
	@extend .skills_dark;

	background-color: $dark;
	color: $light;
}
