@import '../../styles/variables';

.fixed_dark {
	position: fixed;
	bottom: 20px;
	right: 20px;
	display: flex;
	gap: 10px;

	@media (max-width: $breakpoint600) {
		margin: 20px auto;
		gap: 15px;
		position: static;
		flex-wrap: wrap;
		justify-content: center;
	}

	a {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 10px;
		background-color: $dark;
		border-radius: 50%;
		transition: all 0.3s ease;
		-webkit-box-shadow: 0px 4px 8px 0px rgba(60, 60, 60, 0.2);
		-moz-box-shadow: 0px 4px 8px 0px rgba(60, 60, 60, 0.2);
		box-shadow: 0px 4px 8px 0px rgba(60, 60, 60, 0.2);

		svg {
			width: 20px;
			height: 20px;
			fill: $light;
			color: $light;
		}

		&:hover {
			transform: translateY(-5px);
		}
	}
}

.fixed_light {
	@extend .fixed_dark;

	a {
		background-color: $white;
		svg {
			fill: $dark;
			color: $dark;
		}
	}
}
