@import '../../styles/variables';

.header {
	padding: 20px 0;
	position: relative;
	z-index: 1000;
	&Content {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	@media (max-width: 600px) {
		padding: 10px 0;
		top: 0;
	}
}
