@import '../../styles/variables';

.projects_dark {
	padding: 20px;
	max-width: 900px;
	border-radius: 10px;
	background-color: $dark;
	color: $light;
	fill: $light;
	border-color: $light;

	-webkit-box-shadow: 0px 4px 8px 0px rgba(60, 60, 60, 0.2);
	-moz-box-shadow: 0px 4px 8px 0px rgba(60, 60, 60, 0.2);
	box-shadow: 0px 4px 8px 0px rgba(60, 60, 60, 0.2);

	a {
		color: $light;
		text-decoration: none;
	}

	input[type='checkbox'] {
		display: none;
	}
	input[type='checkbox'] + label {
		display: block;
		margin-top: 20px;
		position: relative;
		cursor: pointer;

		&:before {
			content: '';
			width: 15px;
			height: 15px;
			background-color: $light;
			border: 3px solid $light;
			border-radius: 5px;
			position: absolute;
			top: 50%;
			left: -30px;
			transform: translateY(-50%);
			transition: all 0.2s ease;
		}
	}
	input[type='checkbox']:checked + label {
		font-weight: 700;

		&::before {
			background-color: $dark;
		}
	}

	@media (max-width: 600px) {
		border-radius: 0;
		width: calc(100% + $container_padding * 2);
		margin-left: -$container_padding;
		margin-right: -$container_padding;
	}
}

.projects_light {
	@extend .projects_dark;

	background-color: $white;
	color: $dark;
	fill: $dark;
	border-color: $dark;

	a {
		color: $dark;
	}
}

.menu {
	display: flex;
	justify-content: space-between;

	h1 {
		display: flex;
		align-items: center;
		gap: 5px;
		font-size: 20px;
		text-transform: uppercase;

		svg {
			width: 20px;
			height: 20px;
		}
	}
}

.demo {
	display: flex;
	justify-content: end;
}
