@import '../../../styles/variables';

.burger_dark {
	width: 100vw;
	height: 100dvh;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	padding: 10px 15px;
	background-color: $black;
	color: $light;
	z-index: 1;
	transition: background 0.3s ease;

	svg {
		fill: $light;
	}

	.header__link {
		border-color: $light;
	}
}

.burger_light {
	@extend .burger_dark;
	background-color: $light;
	color: $dark;

	svg {
		fill: $dark;
	}

	.header__link {
		border-color: $dark;
	}
}

.header {
	margin-bottom: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__links {
		display: flex;
		gap: 10px;

		&_opened {
			.header__link {
				opacity: 1;
				svg {
					transform: scale(1) rotate(0deg);
				}
			}
		}

		&_hidden {
			.header__link {
				opacity: 0;
				svg {
					transform: scale(0) rotate(360deg);
				}
			}
		}
	}

	&__link {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 6px;
		border: 1.5px solid;
		border-radius: 50%;
		transition: opacity 0.3s ease 0.25s;
		svg {
			transition: opacity 0.3s ease 0.2s, transform 0.3s ease 0.2s;
		}
	}
}

.content {
	margin-top: 50px;
	flex-grow: 1;

	ul {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: stretch;
		gap: 20px;

		li {
			opacity: 0;
			border-bottom: 2px solid;
			transition: opacity 0.3s ease 0.25s;

			a {
				width: 100%;
				padding: 10px 0;
				display: flex;
				gap: 5px;
				align-items: center;
				color: inherit;
				font-size: 20px;
				font-weight: 600;
				text-decoration: none;
				transform: translateX(70px);
				transition: transform 0.3s ease 0.2s;

				svg {
					height: 24px;
					width: 24px;
				}

				@media (max-width: $breakpoint400) {
					font-size: 18px;
				}
			}
		}
	}

	.list__opened {
		li {
			opacity: 1;
			a {
				transform: translateX(0);
			}
		}
	}
}

.settings {
	display: flex;
	justify-content: space-between;
	gap: 10px;
}
