@import '../../../styles/variables';

%field_light {
	padding: 10px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	transition: all 0.2s ease;
	color: $dark;

	&:focus {
		border-color: $dark;
	}
}

%field_dark {
	@extend %field_light;
	padding: 10px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	color: $light;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.2);
	box-shadow: unset;
	transition: all 0.2s ease;

	&:focus {
		border-color: $light;
	}
}

.form {
	h2 {
		margin-bottom: 5px;
		display: flex;
		align-items: center;
		gap: 5px;
	}

	&__email {
		display: block;
		margin-top: 10px;
		input {
			@extend %field_light;
			width: 100%;

			&:focus {
				outline: none;
			}
		}
	}

	&__email_dark {
		display: block;
		margin-top: 10px;
		input {
			@extend %field_dark;
			width: 100%;
			&:focus {
				outline: none;
			}
		}
	}

	&__message {
		display: block;
		margin-top: 10px;
		textarea {
			@extend %field_light;
			width: 100%;
			height: 280px;
			resize: none;

			&:focus {
				outline: none;
			}
		}
	}

	&__message_dark {
		display: block;
		margin-top: 10px;
		textarea {
			@extend %field_dark;
			width: 100%;
			height: 280px;
			resize: none;

			&:focus {
				outline: none;
			}
		}
	}

	&__controls {
		margin-top: 10px;
		display: flex;
		justify-content: end;

		button {
			padding: 5px;
			display: flex;
			gap: 5px;
			align-items: center;
			border-radius: 5px;
			color: inherit;
			font-size: 20px;
			font-weight: 600;
			text-decoration: none;
			background-color: transparent;
			transition: none;
			cursor: pointer;

			&:hover {
				background-color: rgba(0, 0, 0, 0.15);
			}

			svg {
				height: 22px;
				width: 22px;
			}
		}
	}
}
