@import '../../styles/variables';

.notfound_dark {
	padding: 20px;
	max-width: 600px;
	border-radius: 10px;
	background-color: $dark;

	-webkit-box-shadow: 0px 4px 8px 0px rgba(60, 60, 60, 0.2);
	-moz-box-shadow: 0px 4px 8px 0px rgba(60, 60, 60, 0.2);
	box-shadow: 0px 4px 8px 0px rgba(60, 60, 60, 0.2);

	@media (max-width: 700px) {
		padding: 10px;
	}
}

.message_dark {
	color: $light;
	fill: $light;
}

.notfound_light {
	@extend .notfound_dark;

	background-color: $white;
}

.message_light {
	@extend .message_dark;

	color: $dark;
	fill: $dark;
}

.icon {
	margin-top: 10px;
	display: flex;
	gap: 20px;
	font-size: 165px;
	line-height: 1;
	font-weight: 700;

	svg {
		width: 160px;
		height: 160px;
	}

	@media (max-width: 700px) {
		font-size: 72px;
		gap: 10px;

		svg {
			width: 72px;
			height: 72px;
		}
	}
}

.text {
	text-align: center;
	font-size: 22px;
	font-weight: 600;

	@media (max-width: 700px) {
		font-size: 16px;
	}
}
