@import '../../../styles/variables';

.item {
	max-width: 800px;
	padding: 10px;
	border-radius: 7px;
	display: flex;
	flex-direction: column;
	gap: 10px;

	-webkit-box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.2);

	&Name {
		text-transform: uppercase;
		font-size: 20px;

		@media (max-width: 600px) {
			font-size: 16px;
		}
	}

	&Links {
		display: flex;
		justify-content: space-between;

		a {
			padding: 5px;
			display: flex;
			align-items: center;
			gap: 5px;
			border-radius: 3px;
			transition: none;
			letter-spacing: 2px;
			font-weight: 500;

			@media (max-width: 600px) {
				font-size: 14px;
			}

			&:hover {
				background-color: rgba(0, 0, 0, 0.15);
			}
		}
	}

	&Images {
		border-radius: 7px;
		overflow: hidden;
		height: 300px;
		width: 100%;

		@media (max-width: 600px) {
			height: 200px;
		}
	}

	&Tech {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		column-gap: 20px;
		row-gap: 10px;
	}

	&ShowBtn {
		gap: 5px;
		background: transparent;
		color: inherit;
		font-weight: 500;
		text-transform: uppercase;
		text-align: right;
		font-size: 14px;
		font-weight: 700;
		margin-bottom: -8px;
	}

	&Desc {
		text-align: justify;
		transition: all 0.3s ease;
		overflow: hidden;
		font-size: 14px;

		@media (max-width: 600px) {
			text-align: left;
		}
	}
}
