@import '../../../styles/variables';

.item {
	padding: 10px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	&Name {
		text-transform: uppercase;
		font-size: 20px;

		@media (max-width: 600px) {
			font-size: 16px;
		}
	}
	&Links {
		display: flex;
		gap: 10px;

		a {
			padding: 5px;
			display: flex;
			align-items: center;
			gap: 5px;
			border-radius: 3px;
			transition: none;
			font-weight: 500;

			@media (max-width: 600px) {
				font-size: 14px;
			}

			&:hover {
				background-color: rgba(0, 0, 0, 0.15);
			}
		}
	}
	&Images {
		position: relative;
		aspect-ratio: 16 / 9;
		border-radius: 7px;
		overflow: hidden;
	}

	&Tech {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		column-gap: 20px;
		row-gap: 10px;
	}
}
